@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f6f6f6;
  --foreground: #272727;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gilroy", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a[x-apple-data-detectors],
a[href^="tel"],
a[href^="mailto"],
a[href^="sms"] {
  color: inherit !important;
  text-decoration: none !important;
  font: inherit !important;
}

/* iOS Safari can still inject blue auto-links into text nodes. Force inheritance. */
*[x-apple-data-detectors="true"],
*[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font: inherit !important;
}

.contactLine a,
.contactLine a:link,
.contactLine a:visited,
.contactLine a:hover,
.contactLine a:active {
  color: #8f8f8f !important;
  text-decoration: none !important;
  -webkit-text-fill-color: #8f8f8f !important;
}

button {
  font-family: inherit;
}
